.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactItem {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: aliceblue;
}

.contactDetails {
  margin-right: 8px;
}

.deleteButton {
  padding: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.deleteButton:hover {
  transform: scale(1.5);
}
